<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Przykład Tymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h2 th:text="'Szczegóły filmu: ' + ${movie.title}"></h2>

<p th:text="'Data premiery: ' + ${#dates.format(movie.premiereDate, 'dd.MM.yyyy')}"></p>

<h2>Komentarze:</h2>
<table>
    <tr>
        <th>Nick</th>
        <th>Ocena</th>
        <th>Komentatz</th>
    </tr>
    <tr th:each="comment: ${movie.comment}">
        <td th:text="${comment.nick}"></td>
        <td th:text="${comment.rating}"></td>
        <td th:text="${comment.text}"></td>
    </tr>
</table>


</body>
</html>